.logo{
	position: absolute;
width: 45px;
height: 18px;
left: 66.07px;
top: 28.71px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12.3042px;
line-height: 18px;
text-align: center;
}

.navbar-nav .nav-item .nav-link{

text-align: center;

color: #C4C4C4;
padding: 0px 15px;
}

.section-hed{
	background: #fff;
	width: 100%;
	height: 500px;
}
.blue{
	background: linear-gradient(97.65deg, #56E0E0 0.33%, #007299 93.35%);
box-shadow: 0px 5.12675px 7.69013px rgba(1, 115, 153, 0.2);
border-radius: 19.9943px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7.69013px 20.507px;
gap: 5.13px;

border: none;
color: #fff;
margin-right: 15px;

}

.container .row .left .are{
	
	width: 276px;
	height: 49px;
	left: 61.52px;
	top: 92.28px;
	margin: 5px auto;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 32.8112px;
	line-height: 49px;

	color: #172048;
}
.container .row .left .help{
	
	width: 276px;
	height: 49px;
	left: 61.52px;
	top: 92.28px;
	margin: 5px auto;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 32.8112px;
	line-height: 49px;

	background: linear-gradient(90.29deg, #50D9DB 0.21%, #007299 99.79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}
.container .row .left .pro{
	
	width: 276px;
	height: 49px;
	left: 61.52px;
	top: 92.28px;
	margin: 5px auto;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 32.8112px;
	line-height: 49px;
	color: #172048;
}

 .row .rig{
		
		
		height: 635.72px;
		width: 800px;
		left: 551.18px;
		top: -96.9px;
		background : no-repeat;
		background-image: url("../img/mask.png");
		/*border-radius: 30%;*/
		width: 100%;
	
}
.row .rig .rectancle{
	background-image: url("../img//Rectangle\ 50.png");
	background-repeat: no-repeat;
	height: 635.72px;
		width: 500px;
		left: 551.18px;
		top: -96.9px;
		width: 80%;
		margin: 15px auto;
}
.rig .doctor{
	
	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	
	
	}

	.container .row .left .text  {
		width: 276px;
		height: 49px;
		left: 61.52px;
		top: 92.28px;
		margin: 5px auto;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 9.22815px;
		line-height: 14px;

		color: #C4C4C4;
	}
	.container .row .left .Try{
		width: 190px;
		height: 49px;
		
		top: 92.28px;
		margin-left: 25%;

		border: none;
		color: #fff;
		background: linear-gradient(97.65deg, #56E0E0 0.33%, #007299 93.35%);
		box-shadow: 0px 5.12675px 7.69013px rgba(1, 115, 153, 0.2);
		border-radius: 19.9943px;
		
		
	}
	.left .row-justify-content{
		margin-left: 20%;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 18.4563px;
		line-height: 28px;
	}
	.left .row-justify-content h3{
		padding: 10px;
		color: #172048;
	}
	.left .row-justify-content h3 span{
		color:#007299
	}
	.left .row-justify-content .para{
		width: 51.78px;
		height: 28px;
		left: 69.72px;
		top: 425.01px;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 9.22815px;
		line-height: 14px;

		color: #C4C4C4;
	}
	.align-item-center{
		margin-bottom: 80%;
		
	}
	.main .titre-min{
		

		font-family: 'Poppins';
		color: #172048;
		text-transform: capitalize;

	}

	.main span{
		background: linear-gradient(90.29deg, #45BDBF 0.21%, #005C7B 99.79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
	}
	.container .row .gauche{
		background: #F4FEFF;
		border-radius: 15.3803px;
		height: 250px;
		margin: 10px 15px;
		

	}
	.container .row .gauche .font img{
		border-radius: 50%;
		text-align: center;
		width: 50px;
		height: auto;
		margin: 25px 0px;
		width: 50%;
		
		
	}
	.container .row .gauche .text-justify{
		width: 118.08px;
		height: 26.28px;
		left: 270.18px;
		top: 913.59px;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 12.3042px;
		line-height: 18px;
		text-align: center;

		color: #172048;

	}
	.container .row .gauche .text-content{
		
width: 155.34px;
height: 47.68px;
left: 290.17px;
top: 943.32px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 7.17745px;
line-height: 185%;
/* or 13px */


color: #172048;
	}
	.container .row .mil .font img{
		border-radius: 50%;
		text-align: center;
		width: 50px;
		height: auto;
		margin: 25px 0px;
		width: 50%;
		
		
	}
	.container .row .mil .text-justify{
		width: 118.08px;
		height: 26.28px;
		left: 270.18px;
		top: 913.59px;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 12.3042px;
		line-height: 18px;
		text-align: center;

		color: #FFFFFF;

	}
	.container .row .mil .text-content{
		
		width: 155.34px;
		height: 47.68px;
		left: 290.17px;
		top: 943.32px;
		
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 7.17745px;
		line-height: 185%;
		/* or 13px */
		
		
		 color: #FFFFFF;
			}
			.container .row .mil{
				background: linear-gradient(180deg, #4ED6DA 0%, #04789D 100%);
border-radius: 15.3803px;
				border-radius: 15.3803px;
				height: 250px;
				margin: 10px 15px;
				
		
			}
			.container .row .droit{
				background: #F4FEFF;
				border-radius: 15.3803px;
				height: 250px;
				margin: 10px 15px;
				
		
			}
			.container .row .droit .font img{
				border-radius: 50%;
				text-align: center;
				width: 50px;
				height: auto;
				margin: 25px 0px;
				width: 50%;
				
				
			}
			.container .row .droit .text-justify{
				width: 118.08px;
				height: 26.28px;
				left: 270.18px;
				top: 913.59px;
		
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 700;
				font-size: 12.3042px;
				line-height: 18px;
				text-align: center;
		
				color: #172048;
		
			}
			.container .row .droit .text-content{
				
		width: 155.34px;
		height: 47.68px;
		left: 290.17px;
		top: 943.32px;
		
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 7.17745px;
		line-height: 185%;
		/* or 13px */
		
		
		color: #025F7D;
			}
			.container .row .docs-left{
				
				background: url("../img/Group\ 116.png");
				width: 300px ;
				height: 300px;
				background-repeat: no-repeat;
				
				
				border: 10px solid #ffffff;

				
				
			}
			.container .row .docs-left img{
		
				
				margin-top: -30%;
				width: 80%;
				height: 360px
			}
			.container .row .docs-rig h3{
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 700;
				font-size: 24.6084px;
				line-height: 37px;
				/* identical to box height */


				color: #242527;
			}
			.container .row .docs-rig h3 span{
				font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24.6084px;
line-height: 37px;
/* identical to box height */


background: linear-gradient(90.29deg, #45BDBF 0.21%, #005C7B 99.79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

			}
			.container .row .docs-rig p{
				
					height: 80px;
					
					top: 1155.57px;

					font-family: 'Poppins';
					font-style: normal;
					font-weight: 500;
					font-size: 9.22815px;
					line-height: 14px;

					color: #C4C4C4;
			}
			
			.container .row .docs-rig img{
					margin-left: 30%;
					background-repeat: no-repeat;
			} 

			.color{
				background: #cef7ee;
				width: min-content;
				height: 300%;
			}
			.container-fluid .row .col .text-bel{
				



font-family: 'Poppins';

/* identical to box height */


background: linear-gradient(90.29deg, #45BDBF 0.21%, #005C7B 99.79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

			}
.container-fluid .row .col div p{
	

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 8.475px;
line-height: 13px;

color: #C4C4C4;
}
.container-fluid .row .sou-rig img{
	width: min-content;
	height: 350px;
}

.container-fluid .row .col button{
	/* Auto layout */

background: linear-gradient(97.65deg, #56E0E0 0.33%, #007299 93.35%);
box-shadow: 0px 5.12675px 7.69013px rgba(1, 115, 153, 0.2);
border-radius: 19.9943px;
border: none;
color: #ffffff;
width: 25%;
height: auto;
}

 .blan{
	background: #fff;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	

}

.blan h1{
	

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22.6px;
line-height: 34px;
margin-top: 7%;
/* identical to box height */


color: #050505;
}

.blan h1 span{
	font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22.6px;
line-height: 34px;
/* identical to box height */


background: linear-gradient(90.29deg, #45BDBF 0.21%, #005C7B 99.79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.blan p{
	font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 8.475px;
line-height: 170%;
/* or 14px */

text-align: center;

color: #C4C4C4;
}
.blan  button{
	


margin: 15px auto;
width: 150px;
padding: 10px 10px;

border: none;
color: #ffffff;


background: linear-gradient(97.65deg, #56E0E0 0.33%, #007299 93.35%);
box-shadow: 0px 4.70833px 7.0625px rgba(1, 115, 153, 0.2);
border-radius: 18.3625px;
}

.blan .row{
	margin: 15px auto;
}

.footer {
	margin-top: 20%;
}
.footer ul li{
	list-style-type: none;
}

.footer  ul li{
	font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 8.475px;
line-height: 17px;
}
.footer  ul li:hover{
	border-bottom: #007299 3px solid;
	
	
}
			